* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: url("../static/images/notebook-bg.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
  min-height: 100vh;
}

.section-header {
  font-size: 3rem;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  background-color: red;
}